/*------------------
    window count
------------------*/

#windowcount {
	margin-right: 12px;
}
#windowcount label {
	color: @hover-fg;
}

/*-----------------
    temperature
-----------------*/

#temperature {
	background-color: @temperature;
}

/*------------
    memory
------------*/

#memory {
	background-color: @main-bg;
}

/*---------
    cpu
---------*/

#cpu {
	background-color: @main-bg;
}

/*-----------------
    distro icon
-----------------*/

#custom-distro {
	padding: 0 10px 0 5px;
	background-color: @accent;
	color: @main-bg;
}

/*--------------------
    idle inhibitor
--------------------*/

#idle_inhibitor {
	background-color: @time;
}

/*----------
    time
----------*/

#clock.time {
	padding-right: 6px;
	background-color: @main-bg;
}

/*----------
    date
----------*/

#clock.date {
	padding-left: 6px;
	background-color: @date;
}

/*-----------------
    system tray
-----------------*/

#network {
	background-color: @main-bg;
	padding: 4px 8px;
}
#bluetooth {
	background-color: @main-bg;
	padding: 4px 8px;
}
#custom-system_update {
	background-color: @main-bg;
	padding: 0 8px 0 2px;
}
